ion-card {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  margin: 20px 0;
}

ion-card-header {
  background-color: #c7eeff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 16px;
  text-align: center;
}

ion-card-title {
  color: #0077b6;
  font-size: 1.4rem;
  font-weight: bold;
}

ion-item {
  --background: #f5f5f5;
  --border-radius: 12px;
  border-radius: 12px;
  margin-top: 15px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

ion-item.item-has-focus {
  --background: #e3f2fd;
  border: 2px solid #48cae4;
}

ion-label {
  color: #0077b6 !important;
  font-weight: 500;
}

ion-input, ion-datetime {
  --background: transparent;
  --color: #006494;
  font-size: 1rem;
}

ion-checkbox {
  --checkbox-background: #0077b6;
  --checkbox-background-checked: #0077b6;
  --border-color: #0077b6;
}

ion-button {
  margin-top: 20px;
  --background: #48cae4;
  --border-radius: 10px;
  font-weight: bold;
  text-transform: none;
  --box-shadow: 0 4px 8px rgba(72, 202, 228, 0.3);
}