/* FONDO Y ESTRUCTURA GENERAL */
:root {
  --ion-background-color: #e6f7ff;
  --ion-text-color: #0077b6;
  --ion-toolbar-background: #c7eeff;
  --ion-toolbar-color: #0077b6;
  --ion-item-background: #ffffff;
}
.custom-small-modal .modal-wrapper {
  --width: 90%;
  --max-width: 100px;
  --height: auto;
  --max-height: 60%;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

html, body, ion-app {
  height: 100%;
  margin: 0;
  padding: 0;
}

ion-content {
  --background: #e6f7ff;
  --padding-top: 10px;
  --padding-bottom: 10px;
  --padding-start: 10px;
  --padding-end: 10px;
  margin: 0;
  padding: 0;
}

/* ENCABEZADO */
ion-header, ion-toolbar {
  --background: #ffffff;
  --ion-color-base: #ffffff;
  color: #000000;
}

/* TITULO PRINCIPAL */
ion-title {
  font-size: 1.5rem;
  color: #0077b6;
  font-weight: bold;
  text-align: center;
  padding: 10px 0;
}

/* CONTENIDO */
ion-content p {
  font-size: 1.2rem;
  color: #0077b6;
  margin-bottom: 10px;
}

ion-content strong {
  font-weight: bold;
  color: #0077b6;
}

/* BOTÓN CERRAR */
ion-button {
  --background: #0077b6;
  --color: white;
  --border-radius: 12px;
  --padding-start: 20px;
  --padding-end: 20px;
  margin-top: 20px;
  display: block;
  width: 100%;
}