<ion-header [translucent]="true" class="transparent-header">
  <ion-toolbar>
    <!-- boton de retroceso -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" class="custom-back-button"></ion-back-button>
    </ion-buttons>

    <!-- Título centrado opcional -->
    <ion-title style="text-align: center;">Carrito de compras</ion-title>

      <!-- Botón de menú a la derecha-->
      <ion-buttons slot="end" class="menu-button">
        <ion-menu-button menu="mainMenu"></ion-menu-button>
      </ion-buttons> 
    </ion-toolbar>
</ion-header> 


<ion-content [fullscreen]="true">
  
  <ion-button expand="full" class="ion-margin" (click)="getCurrentPosition()">
    Obtener ubicación actual 
  </ion-button>

  <iframe id = "mapFrame" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</ion-content>
