<ion-header [translucent]="true" class="transparent-header">
  <ion-toolbar>
    <!-- boton de retroceso -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" class="custom-back-button"></ion-back-button>
    </ion-buttons>

    <ion-title style="text-align: center;">Seguimiento de Despacho</ion-title>

    <ion-buttons slot="end">
      <ion-menu-button menu="mainMenu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <div class="mensaje-entrega">
    <h2>¡Gracias por tu compra!</h2>
    <p>Estamos preparando tu pedido. Puedes ver la ubicación estimada del despacho en el mapa.</p>
  </div>

  <ion-button expand="block" class = "boton-ubicacion" (click)="getCurrentPosition()">
    <ion-icon name="locate" slot="start"></ion-icon>
    Obtener ubicación actual
  </ion-button>

  <div id="map-container">
    <iframe
      id="mapFrame"
      width="100%"
      height="400"
      frameborder="0"
      style="border:0; border-radius: 10px;"
      allowfullscreen=""
      loading="lazy">
    </iframe>
  </div>

</ion-content>