

<ion-header [translucent]="true" class="transparent-header">
  <ion-toolbar>
    <!-- boton de retroceso -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" class="custom-back-button"></ion-back-button>
    </ion-buttons>

    <!-- Título centrado opcional -->
    <ion-title style="text-align: center;">Detalles que orddenan</ion-title>

      <!-- Botón de menú a la derecha-->
      <ion-buttons slot="end" class="menu-button">
        <ion-menu-button menu="mainMenu"></ion-menu-button>
      </ion-buttons> 
    </ion-toolbar>
</ion-header> 

<ion-content>
<!-- imagen representativa  -->
  <div class="top-banner">
    <img src="assets/img/habitacion.jpg" alt="Banner Cocina" />
  </div>

  <!-- Lista de productos -->
  <div class="product-grid">
    <ion-card *ngFor="let producto of productos">
      <div class="centro-img">
        <img [src]="producto.foto" alt="{{ producto.nombre }}" />
      </div>

      <ion-card-header>
        <ion-card-title>{{ producto.nombre }}</ion-card-title>
        <p class="precio">Precio: ${{ producto.precio }}</p>
      </ion-card-header>

      <ion-card-content>
        <p class="descripcion">{{ producto.descripcion }}</p>

        <div class="rating">
          <ion-icon 
            *ngFor="let star of [1,2,3,4,5]; let i = index"
            name="star"
            [color]="i < producto.calificacion ? 'warning' : 'medium'"
            (click)="calificarProducto(producto, i + 1)">
          </ion-icon>
        </div>

        <ion-button expand="block" (click)="comprarProducto(producto)">
          Comprar
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>