<ion-app>
  <ion-menu contentId="main-content" type="overlay" menuId="mainMenu" class="custom-menu">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-list>
        <ion-item (click)="navegarYcerrar('/home')">
          <ion-icon name="person-outline" slot="start"></ion-icon> Mi cuenta</ion-item>
        <ion-item (click)="navegarYcerrar('/catalogo')">
          <ion-icon name="settings-outline" slot="start"></ion-icon> Catálogo</ion-item>
        <ion-item (click)="navegarYcerrar('/cocina')">
          <ion-icon name="restaurant-outline" slot="start"></ion-icon> Cocina</ion-item>
        <ion-item (click)="navegarYcerrar('/banio')">
          <ion-icon name="water-outline" slot="start"></ion-icon> Baño</ion-item>
        <!---item routerLink="/jardin">
          <ion-icon name="leaf-outline" slot="start"></ion-icon> Jardín</ion-item>-->
        <ion-item (click)="navegarYcerrar('/habitacion')">
          <ion-icon name="bed-outline" slot="start"></ion-icon> Habitación</ion-item>
        <!---item routerLink="/tips">
          <ion-icon name="bulb-outline" slot="start"></ion-icon> Tips</ion-item>-->
        <ion-item (click)="navegarYcerrar('/productos')">
          <ion-icon name="cube-outline" slot="start"></ion-icon> productos</ion-item>
        
        
         <ion-item (click)="cerrarSesion()">
          <ion-icon name="log-out-outline" slot="start"></ion-icon> Cerrar Sesión</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  
 <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>

