:host {
  background-image: url('/assets/img/fondo.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.custom-title {
  font-size: 1.5em;
  color: #820c6e; /* o el color que prefieras */
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 50px; /* Puedes ajustar el valor */
  text-align: left;  /* Alinea a la izquierda */

}


/* componente logo detalles*/
.componente {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;  
}
ion-content {
  padding-top: 10px; /* o el alto del componente */
}

.contenido-central {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px; /* espacio entre los componentes */
  padding: 20px;
}

app-mis-datos,
app-experiencia-laboral,
app-certificaciones {
  width: 100%;
  max-width: 700px; /* opcional: limitar el ancho */
}
.segment-container {
  margin-top: 20px;
  padding: 15px;
}
.segmentos {
  display: flex;
  justify-content: center;
  gap: 5px; /* espacio entre los segmentos */
  margin-top: 150px; /* espacio superior */
  background: #ffffffaa;
}
.welcome-message {
  text-align: center;
  font-size: 1.2em;
  color: #fff; /* o el color que prefieras */
  margin-top: 50px;
}
/* Estilo general del texto del botón */
.segmento ion-segment-button {
  font-family: 'Arial', sans-serif; /* Cambia a la fuente que desees */
  font-size: 15px;                  /* Tamaño de letra */
  font-weight: 600;                 /* Negrita */
  color: #2eabb7;                   /* Color del texto (cuando no está seleccionado) */
  text-transform: none;   
  white-space: normal !important; /* Permite múltiples líneas */
  text-align: center;             /* Centra el texto */
  line-height: 1.2;
  padding: 6px 4px;         /* Evita que se convierta en mayúsculas */
}

/* Cuando un botón está seleccionado */
.segmento ion-segment-button.ion-activated {
  color: #89317b;                   /* Color del texto activo */
  font-weight: 700;
}
