
<ion-header [translucent]="true" class="transparent-header">
  <ion-toolbar>
    <!-- Título centrado  -->
    <ion-title  class="custom-title" style="text-align: center;">Bienvenid&#64;s!</ion-title>

      <!-- Botón de menú a la derecha-->
      <ion-buttons slot="end" class="menu-button">
        <ion-menu-button menu="mainMenu"></ion-menu-button>
      </ion-buttons> 
    </ion-toolbar>
</ion-header> 

 <app-componente [companyName]="companyName" class ="componente"></app-componente>

<ion-content [fullscreen]="true" class="ion-padding"> 


<!---- segment para mostrar los componentes -->
<ion-segment [(ngModel)]="segmentValue" class="segmento">
  <ion-segment-button [value]="'misdatos'">Mis Datos</ion-segment-button>
  <ion-segment-button [value]="'experiencia'">Experiencia Laboral</ion-segment-button>
  <ion-segment-button [value]="'certificaciones'">Certificaciones</ion-segment-button>
</ion-segment>

  <!-- Mostrar el componente según selección -->
  <div [ngSwitch]="segmentValue" class="segment-container">
    <app-mis-datos *ngSwitchCase="'misdatos'" [username]="username"></app-mis-datos>
    <app-experiencia-laboral *ngSwitchCase="'experiencia'"></app-experiencia-laboral>
    <app-certificaciones *ngSwitchCase="'certificaciones'"></app-certificaciones>
  </div>

</ion-content>