ion-card {
    background-color: transparent; /* Fondo semitransparente */
    backdrop-filter: blur(5px); /* Opcional: agrega un efecto de desenfoque detrás */
    box-shadow: none;
    border-radius: 5%;
    margin: 10%  auto;
    width: 90%; 
  }
.transparent-header {
  --background: transparent;
  --ion-background-color: transparent;
  background: transparent !important;
  box-shadow: none; /* quita sombra si no la quieres */
}
ion-content {
  --background: transparent;
  background: transparent !important;
}

ion-content {
  --background: #e6f7ff;
  padding: 16px;
}

ion-header, ion-toolbar {
  --background: transparent;
  --ion-background-color: transparent;
  background: transparent !important;
  color: #591861;
}


.avatar {
  width: 60%;         /* Cambia el tamaño relativo al contenedor */
  max-width: 250px;   /* Limita el tamaño máximo en pantallas grandes */
  height: auto;       /* Mantiene proporción original */
  display: block;     
  margin: 0 auto;     /* Centrado horizontal */
  padding-top: 20px;  /* Espacio superior */
}
.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  text-align: center;
}
.user-info h2 {
  font-size: 1.5em;
  font-weight: bold;
  color: #57195b; /* Mismo púrpura que el resto del tema */
  line-height: 1.4;
}