
<ion-header [translucent]="true" class="transparent-header">
  <ion-toolbar>
    <!-- Título centrado  -->
    <ion-title  class="custom-title" style="text-align: center;">Bienvenid&#64;s!</ion-title>

      <!-- Botón de menú a la derecha-->
      <ion-buttons slot="end" class="menu-button">
        <ion-menu-button menu="mainMenu"></ion-menu-button>
      </ion-buttons> 
    </ion-toolbar>
</ion-header> 


      <!--<app-componente [companyName]="companyName" class ="componente"></app-componente>-->

<ion-content [fullscreen]="true" class="ion-padding"> 

 <!-- Imagen de usuario y mensaje de bienvenida -->
  <div class="user-info">
    <img [src]="fotoUsuario" alt="User Avatar" class="avatar" (click)="seleccionarFuente()"/>
    <h1>¡Hola, {{ username }}! </h1>
    <p>Encuentra los mejores productos para organizar tu hogar.</p>
  </div>
  

<!---- segment para mostrar los componentes -->
<ion-segment [(ngModel)]="segmentValue" class="segmento">
  <ion-segment-button value="misdatos">Mis Datos</ion-segment-button>
  <ion-segment-button value="datosenvio">Datos de Envío</ion-segment-button>
  <ion-segment-button value="preferencias">Preferencias</ion-segment-button>
</ion-segment>

  <!-- Mostrar el componente según selección -->
  <div [ngSwitch]="segmentValue" class="segment-container">
    <app-misdatos *ngSwitchCase="'misdatos'" [username]="username"></app-misdatos>
    <div *ngSwitchCase="'misdatos'">Estamos en Mis Datos</div>
    <app-datos-envio *ngSwitchCase="'datosenvio'"></app-datos-envio>
    <app-preferencias *ngSwitchCase="'preferencias'"></app-preferencias>
  </div>


 <!-- productos destacados -->
  
 <ion-card class="product-card">
    <div class="product-image-wrapper">
      <img src="assets/img/organizador_2_niveles.png" alt="Organizador" />
    </div>

    <ion-card-header>
      <ion-card-title>Organizados 2 niveles </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Practico organizador de 2 niveles, ideal para mantener tus espacios ordenados.
      <p>Precio: $14.990</p>
    </ion-card-content>
  </ion-card>

  <!-- Tip con animación -->
  <ion-card class = "tips">
      <div [@fadeInUp] class="tip-container">
        <ion-text >
          <h3>💡 Tip útil:</h3>
          <p>Coloca este organizador bajo el lavaplatos para tener tus esponjas, detergentes y paños siempre a mano. ¡Despídete del caos!</p>
        </ion-text>
    
        <!-- Calificación simple -->
          <div class="rating-stars">
              <ng-container *ngFor="let star of [1,2,3,4,5]">
                <ion-icon
                  name="star"
                  [class.filled]="star <= tipRating"
                  (click)="calificarTip(star)">
                </ion-icon>
              </ng-container>
          </div>
    </div>
</ion-card>

<ion-button expand="block"  class="btn-comprar" (click)="irACatalogo()">
  🛒 Ir a comprar
</ion-button>
</ion-content>