ion-card {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  padding: 10px;
  margin-bottom: 20px;
}
// header de la tarjeta
.header-rosado {
  background-color: #ddc4cc;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 15px;
  color: #50144d;
}



ion-card-header {
  background-color: #c7eeff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 15px;
  color: #e6bbd6;
}

ion-card-title {
  font-size: 1.3rem;
  font-weight: bold;
  color: #5c1c58;
}

//botones 
.boton-datos {
  --background: #62c1b6; // verde claro
  --color: #ffffff; // texto más oscuro para contraste
  --border-radius: 12px;
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-transform: none;
  font-weight: 600;
  margin-top: 20px;
}
.boton-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 15px;
  color: #62c1b6;
}
.btn_direccionregistrada {
  --background: #c7eeff;
  --color: #cd86bdfd;
  --border-radius: 8px;
  --padding-top: 10px;
  --padding-bottom: 10px;
  font-weight: bold;
   --border-color: #62c1b6;
  --background: transparent;
}


ion-button[size="small"] {
  --padding-top: 10px;
  --padding-bottom: 10px;
  --border-radius: 8px;
  font-size: 0.9rem;
  flex: 1;
  text-transform: none;
  --background: #62c1b6;
  --color: #fff;
  font-weight: 600;
}

ion-button[size="small"][fill="outline"] {
  --color: #62c1b6;
  --border-color: #62c1b6;
  --background: transparent;
}

mat-form-field {
  width: 100%;
  background-color: #f5f5f5;
  border-radius: 12px;
  margin-bottom: 20px;
}

mat-label {
  color: #37be9c;
}

input[matInput] {
  padding: 10px;
  font-size: 1rem;
  color: #359b8d;
}

.ion_card-content {
  padding: 20px;
  font-size: 1rem;
  color: #d09dc5;  
  
}