<ion-header [translucent]="true" class="transparent-header">
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" class="custom-back-button"></ion-back-button>
    </ion-buttons>

    <!-- Título centrado opcional -->
    <ion-title class="center-title"> Registrarse!</ion-title>

      <!-- Botón de menú a la derecha
      <ion-buttons slot="end">
        <ion-menu-button menu="mainMenu"></ion-menu-button>
      </ion-buttons> -->
    </ion-toolbar>
</ion-header> 

<ion-content [fullscreen]="true">

    <ion-card class="card-registrarse">

      <ion-card-content>

          <ion-item [@slideAnimation]="animationState">
            <ion-label position="floating">Nombre:</ion-label>
            <ion-input type="text" [(ngModel)]="nombre"></ion-input>
          </ion-item>

          <ion-item [@slideAnimation]="animationState">
            <ion-label position="floating">Apellido:</ion-label>
            <ion-input type="text" [(ngModel)]="apellido"></ion-input>
          </ion-item>

          <ion-item [@slideAnimation]="animationState">
            <ion-label position="floating">Correo:</ion-label>
            <ion-input type="email" [(ngModel)]="email"></ion-input>
          </ion-item>
          <!-- <ion-item [@slideAnimation]="animationState" class="ingreso-datos"> -->
          <ion-item [@slideAnimation]="animationState">
            <ion-label position="floating">Usuario:</ion-label>
            <ion-input type="text" [(ngModel)]="usuario"></ion-input>
          </ion-item>

          <ion-item [@slideAnimation]="animationState">
            <ion-label position="floating">Contraseña:</ion-label>
            <ion-input type="password" [(ngModel)]="password"></ion-input>
          </ion-item>

          <ion-item [@slideAnimation]="animationState">
            <ion-label>Nivel educación:</ion-label>
                <ion-select [(ngModel)]="educationLevel" interface="popover">
                  <ion-select-option value="Basica">Enseñanza Basica</ion-select-option>
                  <ion-select-option value="Media">Enseñanza Media</ion-select-option>
                  <ion-select-option value="Técnico Profesional">Tecnico</ion-select-option>
                  <ion-select-option value="Educación Superior">Superior</ion-select-option>
                  <ion-select-option value="Posgrado">Posgrado</ion-select-option>
              </ion-select>
          </ion-item>

          <ion-item>
            <ion-label>Fecha Nacimeeinto:</ion-label>
            <ion-item>
          
            <!-- Componente angular material -->
                <mat-form-field >
                  <mat-label>dd/mm/yyyy</mat-label>
                  <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate" placeholder="dd/mm/yyyy" name= "fecha" required>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field> 
            </ion-item>
          </ion-item>
      </ion-card-content>
    


        <div class="button-row">
          <ion-button class="btn-green btn-left" (click)="limpiar()">Limpiar</ion-button>
          <ion-button class="btn-green btn-right" (click)="abrirModal()">Mostrar</ion-button>
        </div> 

        <div class =guardar>
          <ion-button class="btn-green btn-guardar" (click)="guardar()">Guardar</ion-button>
        </div>
    </ion-card>
    
</ion-content>

